@page "/"
<ListComponent People="_people" />
<div>
    <button @onclick="Clear">
        Clear People
    </button>
</div>
<div>
    <button @onclick="Reset">
        Reset
    </button>
</div>

@*<div>
    <OutstandingComponent Person="Service!.Person"/>
</div>
<div>
    <ReceivedComponent Person="Service.Person"/>
</div>
<div>
    <button @onclick="SampleChange">
        Make Sample Change
    </button>
</div>
<div>
    <button @onclick=Service.Reset>
        Reset
    </button>
</div>*@