@if (Service!.Received == true || Person == null)
{
    return;
}

<div>
    Outstanding
</div>
<div>
    @Person?.FirstName @Person?.LastName
</div>
<div>
    <button @onclick=Service.Process>
        Mark Received
    </button>
</div>